---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dalton Bennyhoff">
    <Navbar/>
    <div class="mt-8">
        <p>Hello world</p>
    </div>
</Layout>
