<div class="flex justify-between items-center mt-6">
    <div class="flex items-center gap-2">
        <div class="w-1 h-8 bg-indigo-500 rounded">
        </div>
        <a href="/">
            <h2 class="font-mono font-medium text-3xl">Dalton Bennyhoff</h2>
        </a>
    </div>
    <div class="font-mono flex gap-4">
        <a href="/work" class="hover:text-indigo-500">Work</a>
        <a href="/blog" class="hover:text-indigo-500">Blog</a>
        <a href="/about" class="hover:text-indigo-500">About</a>
    </div>
</div>
