---
import "@fontsource/geist-mono"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>

* {
    @apply m-0 p-0
}

body {
    @apply text-white max-w-3xl mx-auto bg-zinc-900 selection:bg-indigo-500
}

p {
    @apply text-zinc-300 font-mono
}
</style>
